@import url(style.css);

/* Card Animation Styles */
/* Center card and navigation buttons */
.card-container {
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card {
    perspective: 1000px;
    width: 240px;
    height: 360px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front img,
.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-back {
    transform: rotateY(180deg);
}

.card-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.card-navigation button {
    background-color: #004d24;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    color: white;
}

.card-navigation span {
    color: black;
}

.card-navigation button:hover {
    background-color: #555;
}

.card-navigation span {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 10px;
}

.message{
    display: none;
}



@media (max-width: 768px) {


    .card-container {
        padding-top: 50%;
        height: 50vh;
    }

    .card-navigation button {
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
    }

}

@media  (max-height: 790px){
    .card{
        width:200px;
        height:300px;
    }
}

@media (max-height: 665px){
    .card-container{
        display: none;
    }

    .message{
        display: flex;
        font-size: 1.5em;
        text-align: center;
        align-items: center;
        color: white;
        height: 50vh;
    }
}