@import url(style.css);

h1,ol,ul{
    color: black;
    line-height: 3vh;
}


main{
    padding-left: 5%;
    margin-top: 94.5px;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media (max-width: 768px){
    main{
        padding-top: 5%;
        padding-left: 0;
    }
}

